
@-webkit-keyframes guywave {
  0% { -webkit-transform: rotate(0deg) scale(0.8); }
  50% { -webkit-transform: rotate(-55deg) scale(0.8); }
  100% { -webkit-transform: rotate(0deg) scale(0.8); }
}

@-webkit-keyframes guyfloat {
  0% {  -webkit-transform: translate(0, 0);}
  10% { -webkit-transform: translate(3px, 0);}
  20% { -webkit-transform: translate(12px, 12px);}
  30% { -webkit-transform: translate(10px, 16px);}
  40% { -webkit-transform: translate(13px, 12px);}
  50% { -webkit-transform: translate(14px, 0);}
  60% { -webkit-transform: translate(10px, 3px);}
  70% { -webkit-transform: translate(4px, 13px);}
  80% { -webkit-transform: translate(14px, 14px);}
  90% { -webkit-transform: translate(12px, 11px);}
}

@-webkit-keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes space {
  from { -webkit-transform: translate(-2640px,0) }
  to { -webkit-transform: translate(0,0) }
}
@-webkit-keyframes floating {
  0% { -webkit-transform: scale(.9) rotate(0deg); }
  100% { -webkit-transform: scale(.9) rotate(-360deg); }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  47% {opacity: 1; }
  48% {opacity: 1; }
  49% {opacity: 1; }
  50% { opacity: 0; }
  51% { opacity: 0; }
  52% { opacity: 0; }
  53% { opacity: 0; }
  100% {opacity: 0; }
}

@-webkit-keyframes waterfall-left-flow {
  0% { opacity: .1; height: 355px;}
  50% { opacity: .4; height: 345px;}
  100% { opacity: .2; height: 355px;}
}

@-webkit-keyframes cloudfloat {
  0% {  -webkit-transform: translate(0, 0) rotate(0deg) scale(1.9); opacity: 0;}
  10% { -webkit-transform: translate(3px, 0) rotate(42deg) scale(2.1); opacity: .4;}
  20% { -webkit-transform: translate(12px, 12px) rotate(34deg) scale(2.4);}
  30% { -webkit-transform: translate(10px, 16px) rotate(62deg) scale(1.8); opacity: 1;}
  40% { -webkit-transform: translate(13px, 12px) rotate(45deg) scale(2.2);}
  50% { -webkit-transform: translate(14px, 0) rotate(18deg) scale(2); top: 200px; opacity: .4;}
  60% { -webkit-transform: translate(10px, 3px) rotate(22deg) scale(2.1);}
  70% { -webkit-transform: translate(4px, 13px) rotate(75deg) scale(1.8);}
  80% { -webkit-transform: translate(14px, 14px) rotate(46deg) scale(2.2);}
  90% { -webkit-transform: translate(12px, 11px) rotate(111deg) scale(2); top: 120px; opacity: 0;}
  100% { -webkit-transform: translate(12px, 11px) rotate(111deg) scale(2); top: 120px; opacity: 0;}
}

@-webkit-keyframes buckazoid-shine {
  from { box-shadow: inset 0 1px #777, inset 0 -2px 0 #444, 0 1px 1px rgba(0, 0, 0, .3); }
  to { box-shadow: inset 0 1px #777, inset 0 -2px 0 #444, 0 1px 1px rgba(0, 0, 0, .3), 0 0 4px white; }
}

@-webkit-keyframes commandline-cursor {
  0% { opacity: .2; }
  50% { opacity: .4; }
  100% { opacity: .2; }
}
